body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(188, 225, 82, 0.8) , rgba(4, 161, 249, 0.3));
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

header{
    text-align: center;
    margin-top: 24px;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p{
    color: red;
}

img{
    height: 150px;
    width: auto;
}

section{
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

label {
    text-align: left;
    color: #555;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #0077cc;
}

.form-select{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-select:focus{
    border-color: #0077cc;
}

#branch-field {
    display: none;
}

#branch-label {
    display: none;
}

#register{
    margin-top: 20px;
}

.password-toggle {
    position: relative;
    width: 100%;
}

.password-toggle i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}       

.nav-link:active {
    border-bottom: 2px solid blue; /* Adjust color and thickness as needed */
}
