
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No network</title>
    <link rel="stylesheet" href="static/no_internet.css">
    <!-- <style>
        *{
            margin: 0;
            padding: 0;
        }
        .container{
            display:flex;
            justify-content: center;
            align-items: center;
            height:100vh;
            flex-direction: column;
            
        }
        .container span{
            border:1px solid black;
        }
        .container h1{
            border:1px solid black;
        }
    </style> -->
</head>
<body>
    <div class="container">
        <h1>
            No Internet
        </h1>
        <span>No internet</span>
    </div>
</body>
</html>